body {
    margin: 0;
    padding: 0;

  }

.cv-container {
    width: 72%;
    margin: 20px auto;
    background: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 41px;
    background:#0d1730;
}

header {
    text-align: center;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

header img {
    border-radius: 50%;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

h2 {
    font-size: 18px;
    color: #555;
}

section {
    margin: 20px 0;
}

h3 {
    color: #007bff;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.experience {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.langues p, .interets p {
    font-weight: bold;
}
  .intro {
    background: var(--card-bg);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(100px);
    
  }
  .img_portfolio {
    background-size: contain; 
    background-repeat: no-repeat;
    float: left;
    margin-right: 0px;
    border: #969696 5px;
    border-style: solid;
    height: 200px;
    width: 190px;

  }
  .moi_meme {
    display: flow-root;
    background: var(--card-bg);
    padding: 24px;
    border-radius: 41px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 41%;
    margin-top: 20px;
    backdrop-filter: blur(100px);
    height: 900px;
  }
  .compet_my {
    display: flow-root;
    background: var(--card-bg);
    padding: 24px;
    border-radius: 41px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 41%;
    margin-left: 54%;
    margin-top: -945px;
    height: 900px;
    backdrop-filter: blur(100px);
    
  }
  .perso {
    margin-left:  130px;
    margin-top: -85px;
  }
.programmation {
    padding: 0%;
    margin: 0%;
    border-radius: 20px;
    width: 77%;
    margin-left: 30px;
    height: 200px;
    
}
.projet_grp {
     border-radius: 12%;
    width: 60%;
    padding: 10px;
    background:#2a2f3b;
}
.lien_grp {
    margin-left: 50px;
}

